<section class="Cart Orden">
  <article class="Cart-content">
    <h2 class="Cart-content_title">Resumen de compra.</h2>
    <div style="overflow-x: auto">
      <table class="Cart-table">
        <tbody>
          <tr class="Cart-tableRow" ng-repeat="product in $ctrl.products">
            <td class="Cart-tableD">
              <img class="Cart-tableImage" ng-src="{{product.img}}" alt="imagen" />
              <div>
                <p>{{product.brand | uppercase}}</p>
                <p class="Cart-Table-textSmall">{{product.model}}</p>
                <p class="Cart-Table-textSmall">Talla: {{product.size}}</p>
              </div>
            </td>
            <td class="Cart-tableD">|</td>
            <td class="Cart-tableD">{{product.price | currency:"S/. "}}</td>
            <td class="Cart-tableD">|</td>
            <td class="Cart-tableD Cart-tableD__buttonContainer">
              <span>{{product.quantity}}</span>
            </td>
            <td class="Cart-tableD">|</td>
            <td class="Cart-tableD">{{product.quantity * product.price | currency:"S/. "}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
  <article class="Cart-content resumen orden">
    <div ng-if="!$ctrl.pagando">
      <div class="Cart-resument__container">
        <div class="Cart-resument__descripContainer">
          <p>N° Productos</p>
          <p>
            <app-product-quantity></app-product-quantity>
          </p>
        </div>
        <div class="Cart-resument__descripContainer">
          <p>Total</p>
          <p>
            <app-order-price></app-order-price>
          </p>
        </div>
      </div>
      <div>
        <form class="Orden-Form" name="form" autocomplete="off">
          <div class="Orden-Form__inputGroup">
            <label>Número de tarjeta:</label>
            <div class="Orden-Form__metodosContainer">
              <input
                name="numerotarjeta"
                type="text"
                ng-model="$ctrl.numerotarjeta"
                pattern="^\d{16}?$"
                required
                placeholder="1234 1234 1234 1234" />
              <div class="Orden-Form__metodos">
                <img src="./src/assets/visa.svg" alt="visa" />
                <img src="./src/assets/mastercard.svg" alt="mastercard" />
              </div>
            </div>
          </div>
          <div class="Orden-Form__inputGroup">
            <label>Caducidad:</label>
            <div class="Orden-Form__group">
              <input
                name="caducidadmm"
                required
                ng-model="$ctrl.caducidadmm"
                pattern="^\d{2}?$"
                type="text"
                placeholder="MM" />
              <input
                name="caducidadaa"
                required
                ng-model="$ctrl.caducidadaa"
                pattern="^\d{2}?$"
                type="text"
                placeholder="AA" />
            </div>
          </div>
          <div class="Orden-Form__inputGroup">
            <label>CVC:</label>
            <div class="Orden-Form__metodosContainer">
              <input
                name="cvc"
                required
                ng-model="$ctrl.cvc"
                type="tetx"
                pattern="^\d{3}?$"
                placeholder="CVC" />
              <div>
                <img class="Orden-Form__metodos" src="./src/assets/cvc.svg" alt="mastercard" />
              </div>
            </div>
          </div>
          <div class="Card-resumen__buttonContainer">
            <button
              ng-click="$ctrl.handlePagar()"
              class="Product-ButtonAdd"
              ng-class="{'Product-ButtonAdd__disabled': form.numerotarjeta.$invalid || form.caducidadmm.$invalid || form.caducidadaa.$invalid || form.cvc.$invalid}"
              type="button">
              Pagar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div ng-if="$ctrl.pagando">
      <h2>Pagando...</h2>
      <div ng-if="$ctrl.loading" class="Loader OrdenLoader"></div>
      <p style="margin-bottom: 30px" class="OrdenMessage">{{$ctrl.message}}</p>
      <div ng-if="!$ctrl.loading" class="Card-resumen__buttonContainer">
        <app-button text="Ir al catálogo" path="catalogo"></app-button>
      </div>
    </div>
  </article>
</section>
