.CardCategory {
  border-radius: clamp(1.25rem, 1.04rem + 1.04vw, 1.88rem);
  padding-left: clamp(1.56rem, 1.35rem + 1.04vw, 2.19rem);
  padding-right: clamp(1.56rem, 1.35rem + 1.04vw, 2.19rem);
  padding-top: clamp(5.63rem, 4.88rem + 3.75vw, 7.88rem);
  padding-bottom: clamp(1.88rem, 1.77rem + 0.52vw, 2.19rem);
  position: relative;
  height: 372px;
  display: flex;
  align-items: flex-end;
}

.CardCategory-text,
.CardCategory-textBg {
  margin: 0;
  font-weight: 700;
}

.CardCategory-text {
  text-transform: uppercase;
  margin-bottom: clamp(0.56rem, 0.52rem + 0.21vw, 0.69rem);
  font-size: clamp(0.88rem, 0.75rem + 0.63vw, 1.25rem);
}

.CardCategory-textBg {
  text-transform: uppercase;
  margin-bottom: clamp(2.5rem, 2.02rem + 2.4vw, 3.94rem);
  font-size: clamp(2.3rem, 2.19rem + 0.55vw, 2.63rem);
}

.CardCategory-img {
  position: absolute;
  right: 10px;
}
