<div class="MenuMobile">
  <img
    class="MenuMobile-img"
    ng-click="$ctrl.handleTogleMenu()"
    src="./src/assets/menu.svg"
    alt="menu" />
  <nav ng-class="{'MenuMobile-active': $ctrl.toggle}" class="MenuMobile-nav">
    <a ng-click="$ctrl.handleTogleMenu()" href="#!/" class="MenuMobile-link"> Inicio </a>
    <a ng-click="$ctrl.handleTogleMenu()" href="#!/catalogo" class="MenuMobile-link"> Catálogo </a>
    <a ng-click="$ctrl.handleTogleMenu()" href="#!/nosotros" class="MenuMobile-link"> Nosotros </a>
  </nav>
</div>
