<footer class="Footer">
  <div class="content-wrapper">
    <figure>
      <img class="Footer-logo" src="./src/assets/logo.png" alt="logo" />
    </figure>
    <div>
      <h2>Enlaces</h2>
      <nav>
        <a class="link" href="#!/"> Inicio </a>
        <a class="link" href="#!/catalogo"> Catálogo </a>
        <a class="link" href="#!/nosotros"> Nosotros </a>
      </nav>
    </div>
    <div>
      <h2>Contacto</h2>
      <div>
        <p>+51 958748596</p>
        <p>Av. Santa Nicolasa 754 Ate - Lima</p>
        <p>Horario de atención de Lunes a Domingo de 8:00 am - 09:00 pm</p>
      </div>
    </div>
    <div>
      <h2>Redes</h2>
      <div class="Footer-redes">
        <img src="./src/assets/facebook.svg" alt="logo facebook" />
        <img src="./src/assets/youtube.svg" alt="logo yotube" />
        <img src="./src/assets/instagram.svg" alt="logo instagram" />
      </div>
    </div>
  </div>
</footer>
