<div class="ContentAboutUs">
  <div class="ContentAboutUs-container1">
    <div class="ContentAboutUs-aboutUsContainer">
      <h2 class="ContentAboutUs-subtitle">¿Quiénes somos?</h2>
      <p class="ContentAboutUs-content">
        Somos una empresa peruana dedica a la venta de calzados, nacimos el 24/06/2019. Nuestra
        profesionalidad nos ha permitido crecer de una forma rápida y ser considerado por nuestros
        clientes como la mejor tienda online de calzados.
      </p>
    </div>
    <figure class="ContentAboutUs-imageContainer aboutUs">
      <img class="ContentAboutUs-imageAboutUs" src="./src/assets/aboutUs.svg" alt="about us" />
    </figure>
  </div>
  <div class="ContentAboutUs-container2">
    <div class="ContentAboutUs-visionContainer">
      <h2 class="ContentAboutUs-subtitle mision">Misión</h2>
      <p class="ContentAboutUs-content">
        Ofrecer los mejores productos con una alta calidad y a un precio adecuado.
      </p>
      <figure class="ContentAboutUs-imageContainer">
        <img class="ContentAboutUs-mision" src="./src/assets/mision.svg" alt="mision" />
      </figure>
    </div>
    <div class="ContentAboutUs-misionContainer">
      <h2 class="ContentAboutUs-subtitle vision">Visión</h2>
      <p class="ContentAboutUs-content">
        Ser la empresa peruana lider en la venta de calzados. Empresa peruana reconocida en el mundo
        nacional e internacional por su alta calidad de sus productos.
      </p>
      <figure class="ContentAboutUs-imageContainer">
        <img class="ContentAboutUs-vision" src="./src/assets/vision.svg" alt="vision" />
      </figure>
    </div>
  </div>
</div>
