<section class="CardCategories">
  <app-card-category
    textcolor="{color: '#FFF'}"
    textcontent="Mujer"
    textbgcolor="{color: '#474747'}"
    textbgcontent="Para ellas"
    bcolor="{background: 'linear-gradient(144.48deg, rgba(35,35,35, 1) 48.39%, rgba(35,35,35, 0.75) 100%)'}"
    img="./src/assets/shoe-woman.png"
    imgstyle="{
      height: '210px',
      top: 'calc(45% - (210px / 2))',
    }"></app-card-category>
  <app-card-category
    textcolor="{color: '#FFF'}"
    textcontent="Niños"
    textbgcolor="{color: '#ECACCE'}"
    textbgcontent="Lo mejor"
    bcolor="{background: 'linear-gradient(144.48deg, rgba(190, 126, 161, 1) 48.39%, rgba(190, 126, 161, 0.75) 100%)'}"
    img="./src/assets/shoe-kid.png"
    imgstyle="{
      height: '188px',
      top: 'calc(45% - (188px / 2))',
    }"></app-card-category>
  <app-card-category
    textcolor="{color: '#FFF'}"
    textcontent="Hombre"
    textbgcolor="{color: '#EF858B'}"
    textbgcontent="Para ellos"
    bcolor="{background: 'linear-gradient(144.48deg, rgba(244, 44, 55, 1) 48.39%, rgba(244, 44, 55, 0.75) 100%)'}"
    img="./src/assets/shoe-man.png"
    imgstyle="{
      height: '253px',
      top: 'calc(45% - (253px / 2))',
    }"></app-card-category>
</section>
