<section class="Benefits">
  <div class="Benefits-item">
    <img class="Benfits-icon" src="./src/assets/truck.png" alt="truck icon" />
    <p class="Benfits-text">Envío a Lima y provincias</p>
  </div>
  <div class="Benefits-item">
    <img class="Benfits-icon" src="./src/assets/recycle.png" alt="truck icon" />
    <p class="Benfits-text">60 días para cambios</p>
  </div>
  <div class="Benefits-item">
    <img class="Benfits-icon" src="./src/assets/store.png" alt="truck icon" />
    <p class="Benfits-text">Entregas garantizadas</p>
  </div>
</section>
